/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --section-title-color: rgba(255, 0, 112, 1);
  --card-title-color: rgba(0, 0, 40, 1);
  --button-border-color: rgba(255, 0, 112, 1);
  --button-hover-border-color: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  --rec-visibility: visible;
  --title-shadow: 4px 4px 0 var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light):not(.theme-dark) {
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --section-title-color: rgba(255, 0, 112, 1);
  --card-title-color: rgba(0, 0, 40, 1);
  --button-border-color: rgba(255, 0, 112, 1);
  --button-hover-border-color: rgba(255, 0, 112, 0.4);
  --background-image: url(../images/cover-image-dark.png);
  --rec-visibility: visible;
        
  --title-shadow: 4px 4px 0 var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);
  }
}

.theme-dark 
.header__rec {
  visibility: var(--rec-visibility);
}