.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: 1.3;
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-top: 1px solid var(--section-title-color);
  border-right: 1px solid var(--section-title-color);
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-bottom: 1px solid var(--section-title-color);
  border-left: 1px solid var(--section-title-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vb;
  min-block-size: 668px;
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 48px;
  color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 1.4;
}

.header__rec::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  transform: translateY(-50%);
  inline-size: 9px;
  block-size: 9px;
  inset-inline-start: calc(100% + 10px);
  inset-block-start: 50%;
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
  margin-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 12px;
  color: var(--button-border-color);
  font-size: var(--font-size);
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-border-color);
  pointer-events: none;
}

.header__title {
  margin-left: 0;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 19.499cqw, 9.8125rem);
  text-shadow: var(--title-shadow);
}

.header__description {
  position: relative;
  justify-items: end;
}

.title-description {
  margin: 77px 20px 0 0;
  color: var(--card-title-color);
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-color);
  inline-size: 491px;
}

.content {
  flex: 1;
  padding: 30px var(--padding-desktop);
  background-color: var(--bg-color);
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.section_column {
  flex-direction: column;
}

.section__title {
  max-width: 315px;
  margin-bottom: 20px;
  color: var(--section-title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 20px;
}

.card-container_tips {
  display: flex;
  flex-direction: column;
  max-width: 648px;
}

.card {
  flex: 1;
  margin-bottom: 20px;
  background-color: transparent;
}

.card__title {
  color: var(--card-title-color);
  font-size: var(--font-size);
  background-color: var(--accent-color);
}

.card__title_regular {
  font-weight: normal;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0 0;
}

.card__content a {
  text-decoration: none;
  text-shadow: var(--link-shadow);
}

.card__content a:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__content a:focus {
  outline: none;
}

.card__content a:focus-visible {
  border: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.gallery__title {
  color: var(--card-title-color);
  font-size: var(--font-size);
  background-color: var(--accent-color);
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__image:first-child {
  grid-column: span 2;
}

.gallery__image:nth-child(2) {
  grid-row: span 2;
}

.gallery__image:nth-child(3) {
  grid-row: span 2;
}

.gallery__image:nth-child(5) {
  grid-column: span 2;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  block-size: 100vb;
  min-block-size: 668px;
  padding: var(--padding-mobile);
  background-color: var(--bg-color);
}

.footer__title {
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.5rem, 0.5625rem + 19.499cqw, 9.8125rem);
  line-height: 0.825;
  text-shadow: var(--title-shadow);
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= 768px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: var(--padding-desktop) 0;
  }

  .header__rec {
    top: var(--padding-desktop);
    right: calc(var(--padding-desktop) + 30px);
  }

  .header__theme-menu {
    align-self: end;
    margin: 174px 20px 0 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .header__title {
    margin: 150px 0 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-description {
    margin: 132px 20px 163px;
    inline-size: 364px;
  }

  .section {
    gap: 0 20px;
  }

  .section__title {
    max-width: 236px;
  }

  .card-container {
    flex-direction: column;
    display: flex;
  }

  .card-container_tips {
    max-width: 472px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    padding: var(--padding-desktop);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width <= 375px) {
  .header {
    padding: var(--padding-mobile);
  }

  .header__rec {
    top: var(--padding-mobile);
    right: calc(var(--padding-mobile) + 27px);
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone_footer::before {
    top: 31px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .header__theme-menu {
    margin: 67px 0 0;
  }

  .header__title {
    max-width: 355px;
    margin: 61px 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 83%;
  }

  .title-description {
    margin: 0;
    inline-size: 355px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0 20px;
    padding: var(--padding-mobile);
  }

  .section {
    display: unset;
  }

  .section_column {
    padding: 0px 0;
  }

  .section__title {
    max-width: 355px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .footer {
    margin: 10px 0;
    padding: var(--padding-mobile);
  }

  .footer__title {
    margin: 24px 0 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
