.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);
    font-family: var(--main-font);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size);
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: '';
    position: absolute;
    inline-size: 20px;
    block-size: 20px;   
}

.decorated-zone::before {
    border-inline-end: 1px solid var(--section-title-color);
    border-block-start: 1px solid var(--section-title-color);
    inset-inline-end: var(--padding-mobile);
    inset-block-start: var(--padding-mobile);
}

.decorated-zone::after {
    border-inline-start: 1px solid var(--section-title-color);
    border-block-end: 1px solid var(--section-title-color);
    inset-inline-start: var(--padding-mobile);
    inset-block-end: var(--padding-mobile);
}

.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    background-image: var(--background-image);
    background-position: center;
    background-size: cover;
    block-size: 100vb;
    min-block-size: 668px;
}

.header__rec {
    position: absolute;
    visibility: var(--rec-visibility);
    color: var(--accent-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: 1.38;
    inset-inline-end: calc(var(--padding-mobile) + 28px);
    inset-block-start: var(--padding-mobile);
}

.header__rec::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--accent-color);
    filter: drop-shadow(0 0 4px var(--accent-color));
    transform: translateY(-50%);
    inline-size: 9px;
    block-size: 9px;
    inset-inline-start: calc(100% + 10px);
    inset-block-start: 50%;
}

.header__theme-menu {
    justify-self: end;
    align-self: start;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    border: 1px solid transparent;
    padding: 0 13px;
    color: var(--button-border-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: 1;
    text-transform: lowercase;
    background-color: transparent;
    transition: border 0.3s ease;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--button-hover-border-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--button-border-color);
}

.header__theme-menu-button_active {
    border: 1px solid var(--button-border-color);
    padding: 2px 12px;
    pointer-events: none;
}

.header__title {
    margin-bottom: 32px;
    color: var(--title-color);
    text-shadow: var(--title-shadow);
}

.header__description {
    position: relative;
    justify-items: end;
}

.title-decor {
    margin-right: 20px;
    color: var(--card-title-color);
    font-weight: bold;
    font-weight: var(--font-weight-bold);
    background-color: var(--accent-color);   
}

.content {
    flex: 1;
    padding: 30px var(--padding-desktop);
}

.section {
    padding: 30px 0;
}

.section__title {
    margin-bottom: 20px;
    color: var(--section-title-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
}

.card {
    background-color: transparent;
}

.card__title {
    color: var(--card-title-color);
    font-size: var(--main-font-size);
    background-color: var(--accent-color);
}

.card__content {
    margin: 10px 0;
    color: var(--text-color);
    line-height: var(--main-line-height);
}

.card__content p {
    margin-bottom: 10px;
}

.card__content a {
    text-decoration: none;
    text-shadow: var(--link-shadow);
}

.card__content a:hover {
    border-bottom: 1px solid var(--text-color);
}

.card__content a:focus {
    outline: none;
}

.card__content a:focus-visible {
    outline: 1px solid var(--text-color);
}

.tip__title {
    color: var(--card-title-color);
    font-weight: normal;
    font-size: var(--main-font-size);
    background-color: var(--accent-color);
}

.gallery {
    display: grid;
}

.gallery__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.footer {
    display: grid;
    place-items: center;
    padding: var(--padding-mobile);
    block-size: 100vb;
    min-block-size: 668px;
}

.footer__title {
    color: var(--title-color);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.825;
    text-shadow: var(--title-shadow);
}

@media (width >= 375px) {
    .header {
        gap: 2px;
        padding: var(--padding-mobile);
    }

    .header__theme-menu {
      justify-self: end;
      align-self: center;
      padding: var(--padding-mobile);
    }

    .header__title {
        margin-bottom: 0;
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        line-height: 95px;
    }

    .title-decor {
        margin: 55px 10px 0 0;
        inline-size: 355px;
    }

    .section {
        padding: 27px 0;
    }

    .card__content {
        margin: 11px 0;
    }

    .card__content p {
        margin-bottom: 20px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
    
    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
}

@media (width >= 768px) {
    .header {
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
    }
    
    .decorated-zone::before {
        inset-inline-end: var(--padding-desktop);
        inset-block-start: var(--padding-desktop);
    }
    
    .decorated-zone::after {
        inset-inline-start: var(--padding-desktop);
        inset-block-end: var(--padding-desktop);
    }
    
    .header__rec {
        inset-inline-end: calc(var(--padding-desktop) + 28px);
        inset-block-start: var(--padding-desktop);
    }

    .header__theme-menu {
        justify-self: end;
        align-self: end;
    }
    
    .header__title {
        align-self: center;
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
    
    .title-decor {
        margin: 40px 15px 0 0;
        inline-size: 364px;
    }
    
    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0 20px;
        padding: 30px 0;
    }
    
    .section__title {
        grid-column: 1;
    }
    
    .card {
        grid-column: 2;
    }

    .section:nth-of-type(2) .card {
        grid-column: 1 / -1;
    }

    .tip__description {
        margin: 15px 0;
    }

    .section:nth-of-type(3) .tip {
        margin-bottom: 0;
    }

    .section:nth-of-type(4) .section__title {
        grid-column: 1 / -1;
    }
    
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1 / -1;
        gap: var(--padding-desktop);
    }
    
    .gallery__image {
        block-size: 100%;
    }
    
    .gallery__image:first-child {
        grid-column: span 2;
    }
    
    .gallery__image:nth-child(2) {
        grid-row: span 2;
    }
    
    .gallery__image:nth-child(3) {
        grid-row: span 2;
    }
    
    .gallery__image:nth-child(5) {
        grid-column: span 2;
    }
    
    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (width >= 1024px) {
    .header {
        padding: 0px;
    }

    .header__theme-menu {
      justify-self: center;
      align-self: start;
      padding: var(--padding-desktop);
    }
    
    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 19.499cqw, 9.8125rem);
    }

    .title-decor {
        margin-top: 50px;
        inline-size: 491px;
    }

    .section:nth-of-type(2) .card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1 / -1;
        gap: 0 20px ;
    }

    .section:nth-of-type(2) .card__title {
        grid-row: 1;
    }

    .section:nth-of-type(2) .card__content {
        grid-row: 2;
        margin: 0;
    }

    .section:nth-of-type(3) .card__content {
        display: flex;
        flex-direction: column;
    }
    
    .section:nth-of-type(3) .tip {
        margin-bottom: 0;
    }

    .section:nth-of-type(4) .section__title {
        grid-column: 1 / -1;
    }
    
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1 / -1;
    }
    
    .gallery__image:first-child {
        grid-column: span 2;
        grid-row: 1;
    }
    
    .gallery__image:nth-child(2) {
        grid-column: 3;
        grid-row: span 2;
    }
    
    .gallery__image:nth-child(3) {
        grid-column: 1;
        grid-row: span 2;
    }
    
    .gallery__image:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    
    .gallery__image:nth-child(5) {
        grid-column: 2 / span 2;
        grid-row: 3;
    }
}

 