/* ===== GLOBAL STYLES ===== */
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    background-color: var(--bg-color);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* ===== DECORATIVE ELEMENTS ===== */
.decorated-zone {
    position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
    content: '';
    position: absolute;
    inline-size: 20px;
    block-size: 20px;   
}

.decorated-zone::before {
    border-inline-end: 1px solid var(--section-title-color);
    border-block-start: 1px solid var(--section-title-color);
    inset-inline-end: var(--padding-mobile);
    inset-block-start: var(--padding-mobile);
}

.decorated-zone::after {
    border-inline-start: 1px solid var(--section-title-color);
    border-block-end: 1px solid var(--section-title-color);
    inset-inline-start: var(--padding-mobile);
    inset-block-end: var(--padding-mobile);
}

/* ===== HEADER STYLES ===== */
.header {
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    gap: 45px;
    background-image: var(--background-image);
    background-position: center;
    background-size: cover;
    block-size: 100vb;
    min-block-size: 668px;
}
.header__rec {
    position: absolute;
    z-index: 2;
    visibility: var(--rec-visibility);
    color: var(--accent-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: 1.38;
    inset-inline-end: calc(var(--padding-mobile) + 28px);
    inset-block-start: var(--padding-mobile);
}

.header__rec::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--accent-color);
    filter: drop-shadow(0 0 4px var(--accent-color));
    transform: translateY(-50%);
    inline-size: 9px;
    block-size: 9px;
    inset-inline-start: calc(100% + 10px);
    inset-block-start: 50%;
}

.header__theme-menu {
    z-index: 2;
    justify-self: end;
    align-self: start;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    border: 1px solid transparent;
    padding: 0 13px;
    color: var(--button-border-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    line-height: 1;
    text-transform: lowercase;
    background-color: transparent;
    transition: border 0.3s ease;
    cursor: pointer;
}

.header__theme-menu-button:hover {
    border: 1px solid var(--button-hover-border-color);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--button-border-color);
}

.header__theme-menu-button_active {
    border: 1px solid var(--button-border-color);
    pointer-events: none;
    padding: 2px 12px;
}

.header__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color:rgba(0, 0, 40, 0.5);
}

.header__title {
    z-index: 2;
    color: var(--title-color);
    text-shadow: var(--title-shadow);
    margin-bottom: 32px;
}

.header__description {
    position: relative;
    z-index: 2;
    justify-items: end;
}

.title-decor {
    margin-right: 20px;
    color: var(--card-title-color);
    font-weight: bold;
    background-color: var(--accent-color);   
}

/* ===== MAIN CONTENT STYLES ===== */
.content {
    flex: 1;
}

.section {
    padding: 30px 0;
}

.section__title {
    margin-bottom: 20px;
    color: var(--section-title-color);
    font-size: var(--main-font-size);
}

.card {
    background-color: transparent;
}

.card__title {

    color: var(--card-title-color);
    font-size: var(--main-font-size);
    background-color: var(--accent-color);
}

.card__content {
    color: var(--text-color);
    line-height: var(--main-line-height);
    margin: 10px 0;
}

.card__content p {
    margin-bottom: 10px;
}

.card__content a {
    text-decoration: none;
    text-shadow: var(--link-shadow);
}

.card__content a:hover {
    border-bottom: 1px solid var(--text-color);
}

.card__content a:focus {
    outline: none;
}

.card__content a:focus-visible {
    outline: 1px solid var(--text-color);
}

.tip__title {
    color: var(--card-title-color);
    font-size: var(--main-font-size);
    background-color: var(--accent-color);
    font-weight: normal;
    
}

/* ===== GALLERY STYLES ===== */
.gallery {
    display: grid;
    gap: var(--padding-mobile);
    margin-bottom: 50px;
}

.gallery__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ===== FOOTER STYLES ===== */
.footer {
    display: grid;
    place-items: center;
    padding: var(--padding-mobile);
    block-size: 100vb;
    min-block-size: 668px;
}

.footer__title {
    color: var(--title-color);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.825;
    text-shadow: var(--title-shadow);
}

/* ===== MEDIA QUERIES ===== */
@media (width >= 375px) {
    .header {
        padding: var(--padding-mobile);
        gap: 2px;
    }

    .header__theme-menu {
      justify-self: end;
      align-self: center;
      padding: var(--padding-mobile);
    }

    .header__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
        line-height: 0.825;
        margin-bottom: 0;
    }

    .title-decor {
        inline-size: 355px;
        margin: 50px 10px 0 0;
    }

    .content {
        padding: var(--padding-mobile);
    }

    .section {
        padding: 27px 0;
    }


    .card__content {
        margin: 11px 0;
    }

    .card__content p {
        margin-bottom: 20px;
    }

    .gallery {
        grid-template-columns: 1fr;
    }
    
    .footer__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
}

@media (width >= 768px) {
    .header {
        padding: 0;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .decorated-zone::before {
        inset-inline-end: var(--padding-desktop);
        inset-block-start: var(--padding-desktop);
    }
    
    .decorated-zone::after {
        inset-inline-start: var(--padding-desktop);
        inset-block-end: var(--padding-desktop);
    }
    
    .header__rec {
        inset-inline-end: calc(var(--padding-desktop) + 28px);
        inset-block-start: var(--padding-desktop);
    }

    .header__theme-menu {
      justify-self: end;
      align-self: end;
    }
    
    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        align-self: center;
    }
    
    .title-decor {
        max-inline-size: 364px;
        margin: 13px 20px 0 0;
    }

    .content {
        padding: 47px var(--padding-desktop);
    }
    
    .section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0 20px;
        padding: 30px 0;
    }
    
    .section__title {
        grid-column: 1;
    }
    
    .card {
        grid-column: 2;
    }


    .section:nth-of-type(2) .card {
         grid-column: 1 / -1;
    }

    .tip__description {
    margin: 15px 0;
    }

   
    .section:nth-of-type(3) .tip {
        margin-bottom: 0;
    }

    .section:nth-of-type(4) .section__title {
        grid-column: 1 / -1;
    }
    
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--padding-desktop);
        grid-column: 1 / -1;
    }
    
    .gallery__image {
        block-size: 100%;
    }
    
    .gallery__image:first-child {
        grid-column: span 2;
    }
    
    .gallery__image:nth-child(2) {
        grid-row: span 2;
    }
    
    .gallery__image:nth-child(3) {
        grid-row: span 2;
    }
    
    .gallery__image:nth-child(5) {
        grid-column: span 2;
    }
    
    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

@media (width >= 1024px) {
    .header {
      padding: 0px;
    }

    .header__theme-menu {
      justify-self: center;
      align-self: start;
      padding: var(--padding-desktop);
    }
    
    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 19.499cqw, 9.8125rem);
    }
    
    .title-decor {
        max-inline-size: 491px;
        margin-top: 50px;
    }

    .section {
       padding: 30px 0;
    }

    .section:nth-of-type(2) .card {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 20px ;
    }

    .section:nth-of-type(2) .card__title {
        grid-row: 1;
    }

    .section:nth-of-type(2) .card__content {
        grid-row: 2;
        margin: 0;
    }

    .section:nth-of-type(3) .card__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .section:nth-of-type(3) .tip {
        margin-bottom: 0;
    }

    .section:nth-of-type(4) .section__title {
        grid-column: 1 / -1;
    }
    
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1 / -1;
    }
    
    .gallery__image:first-child {
        grid-column: span 2;
        grid-row: 1;
    }
    
    .gallery__image:nth-child(2) {
        grid-column: 3;
        grid-row: span 2;
    }
    
    .gallery__image:nth-child(3) {
        grid-column: 1;
        grid-row: span 2;
    }
    
    .gallery__image:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    
    .gallery__image:nth-child(5) {
        grid-column: 2 / span 2;
        grid-row: 3;
    }
    }

 