:root {
  
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --section-title-color: #ff0070;
  --card-title-color: #000028;
  --button-border-color: #ff0070;
  --button-hover-border-color: rgba(255, 0, 112, 0.4);
  
  
  --background-image: url(../images/cover-image.png);
  
  
  --rec-visibility: visible;
  
 
  --main-font: 'IBM Plex Mono';
  --font-size: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --padding-mobile: 10px;
  --padding-desktop: 20px;
  
 
  --title-shadow: 4px 4px 0 var(--accent-color);
  --link-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  :root {
    --padding-mobile: 20px;
  }
}